@font-face {
    font-family: Black;
    src: url("../font/Poppins-Black.woff2");
}

@font-face {
    font-family: Bold;
    src: url("../font/Poppins-Bold.woff2");
}

@font-face {
    font-family: SemiBold;
    src: url("../font/Poppins-SemiBold.woff2");
}

@font-face {
    font-family: Medium;
    src: url("../font/Poppins-Medium.woff2");
}

@font-face {
    font-family: Regular;
    src: url("../font/Poppins-Regular.woff2");
}

@font-face {
    font-family: light;
    src: url("../font/Poppins-Light.woff2");
}
@font-face {
    font-family: ExtraLight;
    src: url("../font/Poppins-ExtraLight.woff2");
}

.Black {
    font-family: Black !important;
}

.Bold {
    font-family: Bold !important;
}

.SemiBold {
    font-family: SemiBold !important;
}

.Medium {
    font-family: Medium !important;
}

.Regular {
    font-family: Regular !important;
}

.Light {
    font-family: light !important;
}