:root {
    --green: #6BBF46;
    --blue: #3854A6;
    --yellow: #F7E161;
    /*day white mode*/
    --white: #F5F5F7;
    --dark: #121313;
    /*night dark mode*/
    /*--white: #121313;*/
    /*--dark: #F5F5F7;*/
}


::-moz-selection {
    color: var( --dark);
    background: var(--yellow);
}

::selection {
    color: var( --dark);
    background: var(--yellow);
}

a {
    color: #F5F5F7;
    text-decoration: none;
}

a:hover, a:focus {
    color: #F5F5F7;
    text-decoration: none;
}

html{
    height: 100%;
}

body {
    font: 20px Medium, sans-serif;
    color: var(--dark);
    background-color: var(--white);
    margin: 0;
}

/*menu-menu*/
.myName {
    font: 28px Bold, sans-serif;
    text-decoration: none;
    color: var(--dark);
    position: absolute;
    top: 35px;
    left: 50%;
    transform: translate(-50%, -50%);
}


.cursor-pointer {
    cursor: pointer;
}

/*temp temp temp*/
@media screen and (max-width: 600px) {
    .myName {
        display: none;
    }
}

/*temp temp temp*/


.noAWhite{
    color: var(--white);
    text-decoration: none;
}

.noADark{
    color: var(--dark);
    text-decoration: none;
}

.noAWhite:hover{
    color: var(--white);
    text-decoration: none;
}

.noADark:hover{
    color: var(--dark);
    text-decoration: none;
}

.menu {
    padding: 10px 0 65px;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /*overflow: hidden;*/
}

ul.topnav li {
    float: left;
}

ul.topnav li a {
    display: block;
    color: var(--dark);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.home a:hover {
    color: var(--green);
    text-decoration: underline;
}

.work a:hover {
    color: var(--blue);
    text-decoration: underline;
}

.about a:hover {
    color: var(--yellow);
    text-decoration: underline;
}


ul.topnav li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.topnav li.right,
    ul.topnav li {
        float: none;
    }
}

/*menu-menu*/

/*could've just put it in the image, but now u can select it, what are you gonna do*/
.thingsICallMyself {
    font: 2.5em black, sans-serif;
    width: 450px;
    text-decoration: none;
    color: var(--dark);
    position: absolute;
    left: 69%;
    transform: translate(-50%, -188%);
}

@media screen and (min-width: 1900px) {
    .thingsICallMyself {
        font-size: 3.5em;
        width: 600px;
        left: 69%;
    }
}

@media screen and (max-width: 1100px) {
    .thingsICallMyself {
        font-size: 1.8em;
        width: 350px;
        left: 69%;
    }
}

@media screen and (max-width: 800px) {
    .thingsICallMyself {
        font-size: 1.5em;
        width: 250px;
        left: 69%;
    }
}

@media screen and (max-width: 600px) {
    .thingsICallMyself {
        font-size: 1.2em;
        width: 300px;
    }
}


.intro-img {
    width: 90%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

@media screen and (max-width: 600px) {
    .intro-img {
        width: 100%;
    }
}


/*spacer*/

.spacer-5{
padding-top: 5%;
}
.spacer-15{
    padding-top: 15%;
}

.spacer-25{
    padding-top: 25%;
}